

#pane {
    -fx-background-size: 1400 800;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

.label{
	-fx-font-size:25px;
	-fx-text-fill: white;
	-fx-font-family: serif;
	-fx-font-weight: bold;
}

.button_play{
    -fx-padding: 10 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #9E7D60 0%, #D1A781 100%),
        #D1A781,
        #F1C094,
        radial-gradient(center 50% 50%, radius 100%, #F1C094, #D1A781);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    
}

.rich-blue {
    -fx-background-color: blue;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-border-color: black;
    -fx-border-width:3px;
    -fx-padding: 12 20 20 20;
    -fx-text-fill: #F3C646;
    -fx-font-size: 60px;
    -fx-font-family:serif;
    -fx-font-weight:bold;
}

.rich-blue-2 {
    -fx-background-color: blue;
    -fx-background-insets: 0,1,2,3;
    -fx-background-radius: 3,2,2,2;
    -fx-border-color: black;
    -fx-border-width:3px;
    -fx-padding: 12 20 10 20;
    -fx-text-fill: #F3C646;
    -fx-font-size: 60px;
    -fx-font-family:serif;
    -fx-font-weight:bold;
}

.answer{
	-fx-text-fill: #F3C646;
	-fx-font-size:20px;
	-fx-font-family:serif;
}

.h_or_v_box {
    -fx-padding:20 50 20 50;
    -fx-font-family: Serif;
    -fx-background-color: blue;
    -fx-text-inner-color: #FFA277;
    -fx-text-fill:rgb(200, 200, 200);
    -fx-font-size: 20px;
    -fx-spacing: 5px;
}
